
body {
    margin: 0;
    padding: 0;
    overflow: visible;
    background:url("background.jpg") #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#ddd;
    font-family: 'Titillium Web', sans-serif;
}
.color_label{
    margin-top: 5px;
    margin-left:5px;
    text-align:left;
    display:block;
    position: relative;
}
input[type=checkbox] {
    float:right;
}


#color_zone button, .color, .color .color_label{
    width:100%;
    height:30px;
    padding:0;
    margin:0;
}
.color_label{
    top: -30px;
    color: black;
    background-color: #0000;
    height: 0;
}
#container{
    width:100%;
}
#color_zone{
    width: 100%;
    scrollbar-width: none;
    overflow-y: auto;
}
#icosaedre_zone{
    width: 500px;
}
#view_option_zone{
    width:auto;
    min-width:250px;
}

#color_option_zone,
#color_zone,
#icosaedre_zone,
#view_option_zone{
    height: auto;
    vertical-align:top;
}

#view_option_zone div{
    width: 100%;
    padding: 10px 5px;
    display: block;
}

#canvas{
    width:100%;
    height:auto;
    display:block;
    margin-bottom:10px;
}
svg{
    background-image: url("bk_view/background1.png");
    transition: background-image 2s ease-in-out;
    height: 500px;
    width: 500px;
}

fieldset *{
    user-select : none;
}
fieldset{
    background-color: #0008;
}
#color_theme_select{
    background: #666;
    border:0;
    width: 100%;
    text-align: center;
    height: 32px;
    padding: 0;
}
#color_theme_select option{
    background: #000;
    color:white;
}
#option_1 *{
    width:237px;
    height:30px;
    border:0;
    margin:0;
    padding: 0;
    background: #777;
}
#option_1{
    display: block;
    margin: 1px;
    margin-top:-31px; 
}
#change_rotation div, #left_view, #right_view{
    background-color: #00000066;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 0.2%; 
    transition-duration: 1s;
}
#left_view, #right_view{
    height:50px;
    width:49.6%;
    border: none;
}
button,#change_rotation div,input:hover, label:hover, #left_view, #right_view{
    transition-duration: 0.6s;
}
#left_view:hover, #right_view:hover,button:hover, input:hover, label:hover, #change_rotation div:hover {
    opacity: 0.6;
}

#color_option_zone { grid-area: a; }
#icosaedre_zone { grid-area: b; }
#color_zone { grid-area: c; }
#change_rotation { grid-area: d; }
#select_color { grid-area: e; }
#content{
    
    min-width: 800px;
    min-height: 700px;
    display: grid;
    height: calc(100vh - 20px);  
    width: calc(100% - 20px);  
    grid-template-areas: 'a b c' 'a d e';
    grid-template-columns: auto 500px auto;
    grid-template-rows: 500px auto;
    grid-gap: 10px;
    padding: 10px;
}
#content > div {
    background-color: rgba(255, 255, 255, 0.2);
    
    padding: 0;
}
#select_color{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
}
#select_color button{
    display: block;
    width:auto;
    height:auto;
    text-align: center;
    border:0;
}

.range_label{
    text-align:center;
    display:block;
    position: relative;
}
input[type=range] {
    width:90%;
    margin: 0;
}
.range_value{
    float: right;
    position: relative;
    right:0;
    margin-right: 2px;
} 
#x_div,#y_div,#z_div,#range_div{
    display: none;
    margin: 0.2%;
}
#color_background{
    border:0;
    margin: 0.2%;
    height:40px;
    width: 100%;
    padding: 0;
   
}
#color_background_label{
    margin-top: -32px;
    display: block;
    text-align: center;
    color: white;
}
#change_rotation, #color_option_zone, #select_color{
    
    scrollbar-width: none;
    overflow-y: auto;
}
#color_zone button, #color_option_zone label{
    border:#fff0 4px solid;
    border-radius: 5px;
}
.checked, .selected{
    border:#fffd 4px solid !important;
    background-color: #fff4;
}
fieldset label{
    display: block;
}