
<b>Mon parcours</b>
<svg width="181" height="50" viewBox="0 0 181 50" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0.621094 18L90.6211 0L180.621 18L180 19L91.5 1.5V50H90.6211H89.5V1.5L0.999974 19L0.621094 18Z" fill="white"/>
</svg>



<timeline-element
  startDate="octobre 2020"
  endDate="décembre 2020"
  title="CDI à INVOLI SA à 60% Renens"
  inversed="true"
  first="true"
  [haveDescritpion]="true">
  <br>À la fin de mon stage, Manu (le patron d'Involi) m'a proposé un 60% durant 2 mois le temps que je trouve une autre entreprise pour continuer mon travail.
</timeline-element>
<timeline-element
  startDate="juin 2019"
  endDate="octobre 2020"
  title="Stage à INVOLI SA à Renens"
  [haveDescritpion]="true">
  <br>Après ma formation, j'ai trouvé une place de stage en entreprise a Renens. J'ai eu l'occasion de m'expérimenter avec jquery et google maps js, car il s'agissait de faire des menus et des fonctionnalités pour une map sur laquelle on affiche des icônes d'avions que les serveurs nous renvoyaient.
  <br>Durant les 6 derniers mois du stage, j'ai appris à métriser Angular 10 pour la nouvelle version du site.
  <br><br><a href="https://www.involi.com/" target="_blank">involi.com</a>
</timeline-element>
<timeline-element
  startDate="novembre 2017"
  endDate="janvier 2018"
  title="Stage pratique chez Évoset SA à Renens"
  inversed="true"
  [haveDescritpion]="true">
  <br>Durant ma formation en duale au centre Orif, j'ai eu l'occasion de faire un stage chez Evoset.
  <br>il s'agissait d'un mandat pour créer l'interface graphique d'une application C# qui commande des outils de mesure et de découpe de métal de haute précision.
  <br><br><a href="https://www.evoset.ch/" target="_blank">evoset.ch</a>
</timeline-element>
<timeline-element
  startDate="octobre 2016"
  endDate="juin 2020"
  title="Apprentissage de développeur d’application en duale au centre Orif de Pomy"
  [haveDescritpion]="true">
  <br>Mon apprentissage à commencé par une année au centre EPSIC (École Professionnelle De La Société Industrielle Et Commerciale) de lausanne et a continué pour les 3 dernières années à Genève au CFPT (Centre de Formation Professionnelle Technique). Nous avons étudié un bon nombre de technologies durant ces 4 ans: Java, Javascript, C#, SQL, PHP, Swift, script batch, Microsoft Access, Git, Méthode Agile...
</timeline-element>
<timeline-element
  startDate="janvier 2016"
  endDate="juillet 2016"
  title="Préformation au centre Orif d'Aigle"
  inversed="true"
  [haveDescritpion]="true">
  <br>Afin de me préparer aux 4 années de formation pour le CFC de développement d'application, mon formateur m'as conseillé de faire une préformation de 6 mois durant lesquelles je pouvais apprendre librement par mes propres moyens les bases du C# qui est un langage utilisé par l'école de Genêve durant les 3 dernières années, en attendant le début des cours en octobre. j'ai donc pus apprendre les bases et j'ai réalisé un projet en windows form sur VisualStudio. il s'agissait d'un jeu avec un dé, où un héros combattais des ennemis aléatoires.
</timeline-element>
<timeline-element
  startDate="septembre 2015"
  endDate="décembre 2015"
  title="Stage d’informaticien en observation au centre Orif de Pomy"
  [haveDescritpion]="true">
  <br>À la fin de ma scolarité obligatoire, l'ai m'as contacté pour que j'aille faire un stage au centre orif de Pomy afin d'y découvrir le métier d'informaticien.
  <br>Durant ces 3 semaines de stage j'ai rapidement compris que ce métier me plaisait beaucoup, surtout pour le développement d'application.
  <br><br><a href="https://www.orif.ch/" target="_blank">orif.ch</a>
</timeline-element>
<timeline-element
  startDate="2012"
  endDate="2015"
  title="Diplômé au Cycle d’orientation de Grône en Valais"
  inversed="true"
  [haveDescritpion]="false">
</timeline-element>
<timeline-element
  startDate="2006"
  endDate="2012"
  title="École primaire à Chalais (VS)"
  [haveDescritpion]="false">
</timeline-element>
