:host{
  padding: 20px;
  margin:0;
  font-family: Noto Sans, sans-serif;
  background-color: #104060;
  color: #f0fff0;
  width: calc(100% - 40px);
  position: absolute;
  min-height: calc(100vh - 40px);
}
b{
  width: 100%;
  text-align: center;
  display: block;
  margin-top: 20px;
}
.table{
  display: flex;
  flex-direction: row;
}
.table b{
  padding:5px;
  margin: 6px;
  align-self: center;
}
