<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laurent Sewer Compétences</title>
    <style>

    </style>
</head>
<body>
    <b>Languages de programmation</b>
    <competence
      name="JavaScript"
      percentage="80"
      color="#000000"
      bkcolor="#F7DF1E"
      fgcolor="#000000"
      image="javascript"
      description="J'ai appris le JavaScript à">
    </competence>
    <competence
      name="HTML 5"
      percentage="90"
      color="#e44d26"
      fgcolor="#ebebeb"
      bkcolor="#F16529"
      image="html">
    </competence>
    <competence
      name="CSS 3"
      percentage="90"
      color="#2062af"
      fgcolor="#ebebeb"
      bkcolor="#3c9cd7"
      image="css"
      description="J'ai appris le CSS 3 à">
    </competence>
    <competence
      name="Python"
      percentage="75"
      bkcolor="#ffde4f"
      fgcolor="#366c99"
      color="#366c99"
      image="python"
      description="J'ai appris le Python à">
    </competence>
    <competence
      name="C#"
      percentage="70"
      fgcolor="#ffffff"
      bkcolor="#a178db"
      color="#3B009B"
      image="csharp"
      description="Le C# est le premier language que j'ai appris, je l'avais appris à l'Orif d'aigle pour m'auto former et pour préparer mon future apprentissage, car il y avais du C# au programme dans cette formation.">
    </competence>
    <competence
      name="Java"
      percentage="60"
      color="#0074bd"
      bkcolor="#EA2D2E"
      image="java"
      description="J'ai appris le Java en première année de mon apprentissage, avec les cours que j'ai eu dessus je connais les bases et saurais avancer avec.">
    </competence>
    <b>Frameworks</b>
    <competence
      name="Jquery"
      percentage="90"
      color="#0868AC"
      bkcolor="#fafafa"
      fgcolor="#333333"
      image="jquery"
      description="J'ai appris le Jquery à l'Orif de pomy, d'abbord par simple envie de découvrir puis par intéret j'ai appris à l'utiliser pour tout mes projets.
      J'ai ensuite pus continuer a l'utiliser à Involi dans le cadre du travail car on travaillais avec jquery pour toute la partie front end.
      Je métrise complètement Jquery.">
    </competence>
    <competence
      name="Angular"
      percentage="70"
      color="#E23237"
      bkcolor="#E23237"
      fgcolor="#ffffff"
      image="angular"
      description="J'ai appris le Angular à">
    </competence>
    <competence
      name="Sass"
      percentage="85"
      color="#CD6799"
      bkcolor="#f8f9fa"
      fgcolor="#CD6799"
      image="sass"
      description="J'ai appris le Sass à">
    </competence>
    <competence
      name="Bootstrap"
      percentage="65"
      color="#7952b3"
      bkcolor="#563d7c"
      fgcolor="#ffffff"
      image="bootstrap">
    </competence>
    <competence
      name="Node Js"
      percentage="40"
      color="#689F63"
      bkcolor="#333333"
      fgcolor="#ffffff"
      image="nodejs">
    </competence>
    <b>Logiciels</b>
    <div class="table">
        <b style="color:#3C99D4">Visual Studio Code</b>
        <b style="color:#FFD02F">Miro</b>
        <b style="color:#F05133">Git</b>
        <b style="color:#0ACF83">Figma</b>
        <b style="color:#E01E5A">Slack</b>
    </div>
</body>
</html>
